body{
    background-color: #2e3035;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}


.header{
    display:flex;
    background-image:url('./images/background.png');
    position:fixed;
    width:100%;
    justify-content: space-between;
    padding:1%;
    left:0;
    top:0;
}

.image{
    width: 100px;
}

img{
    width:100%;
}

.btn-new{
    display:flex;
    border: none;
    background-color: #1bb76e;;
    color: #fff;
    padding:8%;
    width:100%;
    border-radius:4px;
}

.left{
    display:flex;
    width:15%;
    justify-content: space-between;
}

.right{
    display:flex;
    width:75%;
    gap:2%;
}


.in{
    width:70%;
    color:white;
    background:hsla(0,0%,100%,.25);
    border: 1px solid transparent;
    padding:8px 35px 8px 10px;
    outline:0 none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    text-shadow: inherit;
    border-radius:4px;
}

::placeholder {
    color: #fff;
}

.bt{
    display: flex;
    align-items: center;
    width:10%;
}

.item{
    display: flex;
    align-items: center;
}

.btn-go{
    display: flex;
    border: none;
    background-color: #6432f9;
    color: #fff;
    padding:8%;
    width:100%;
    justify-content:center;
    border-radius:4px;
}

.box{
    display:flex;
    flex-direction: column;
}

#container{
    display:grid;
    width:80%;
    margin:auto;
    margin-top: 10%;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 2%;

}

.box-image{
    width:100%;
}