body{
    background-color: #2e3035;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}


.header{
    display:flex;
    background-image:url('./images/background.png');
    position:fixed;
    width:100%;
    justify-content: space-between;
    padding:1%;
    left:0;
    top:0;
}

.image{
    width: 100px;
}

img{
    width:100%;
}

.btn-new{
    display:flex;
    border: none;
    background-color: #1bb76e;
    color: #fff;
    padding:8%;
    width:100%;
    border-radius:4px;
}

.left{
    display:flex;
    width:15%;
    justify-content: space-between;
}

.right{
    display:flex;
    width:75%;
    gap:2%;
}

.input-box{
    display:flex;
    width:70%;
    background:hsla(0,0%,100%,.25);
    border: 1px solid transparent;
    border-radius:4px;
    box-sizing: border-box;
}

.in{
    width:100%;
    color:white;
    background:none;
    padding:8px 35px 8px 10px;
    border: 1px solid transparent;
    outline:0 none;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: .4px;
    text-shadow: inherit;
    border-radius:4px;
}

::placeholder {
    color: #fff;
}

.search-icon{
    position: absolute;
    top:30%;
    right: 30%;
}

.bt{
    display: flex;
    align-items: center;
    width:10%;
}

.item{
    display: flex;
    align-items: center;
}

.btn-go{
    display: flex;
    border: none;
    background-color: #6432f9;
    color: #fff;
    padding:8%;
    width:100%;
    justify-content:center;
    border-radius:4px;
}

.box{
    display:flex;
    /* height:400px; */
    flex-direction: column;
}

#container{
    display:grid;
    width:80%;
    margin:auto;
    margin-top: 10%;
    grid-template-columns: 22% 22% 22% 22%;
    gap: 2%;

}

.box-image{
    width:100%;
}

a{
    text-decoration:none;
    color:#fff;
}

.sign-up{
    width: 10%;
    display: flex;
    border-radius: 4px;
    margin-right: 5%;
    background-color:#1bb76e;
    justify-content:center;

}

.sign-in{
    width: 10%;
}

.search-items{
    display:flex;
    flex-direction:column;
    background:#0e172c;
    gap: 2%;
    width:45%;
    margin-left:2%;
    list-style: none;
    position: absolute;
    visibility: hidden;
    top:95%;
    height: 250px;
    overflow:scroll;
}

.search-items>li{
    margin-bottom: 2%;
    padding:2%;
    background-color: #4a5672;
}

li:hover{
    background-color: #8f9ab4;
    
}